@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
	font-family: 'Poppins', sans-serif;
}
.ps-active svg path {
	fill: #ffffff !important;
}
.w-7 {
	width: 7%;
}
.w-12 {
	width: 12%;
}
.w-25 {
	width: 25%;
}
.w-30 {
	width: 30%;
}
.w-45 {
	width: 45%;
}
.w-58 {
	width: 58%;
}
.cell-padding {
	padding: 15px 31px 17px !important;
}
.text-center {
	text-align: center !important;
}
